.navbar {
    background-color: rgb(38, 39, 55);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
    color: white;
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navLinks a {
    margin-left: 25px;
}

.navTitle {
    font-weight: bold;
}