.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.GameContainer {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 25px;
}

.LowerContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  /* border: 2px solid greenyellow; */
}

.QuestionsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: s;
  /* border: 2px solid cyan; */
}

.MapContainer {
 display: flex;
 flex-wrap: wrap;
 align-content: center;
 justify-content: center;
 width: 800px;
 height:auto;
 /* border: 2px solid purple; */

}
