body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7c6f8a;
}

code {
  font-family: 'Roboto Mono', monospace;
}


.world{
  min-height: calc(100vw *(1/3));
  position: relative;
}

.tile{
  position: absolute;
  width: calc(100%/8);
  height: auto;
  transform: translateX(-50%);
}