body {
    margin: 0 auto;
    text-align:center;

  }
  
  #QCard {
    position: relative;
    height:320px;
    width: 210px;
    background-color: rgb(246, 25, 25);
    margin: 0 auto;
    border-radius: 8%;
    border: 2px solid black;

  }
  
  .interior {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-size: 15px;
      border-radius: 25px 25px 19.5px 19.5px;
  }

  .interiorTitle{
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 12px;
      border-radius: 21px 21px 0px 0px;
      padding: 15px;
  }

  .answerContainer {
      margin-top: 44%;
      padding: 40px;
      text-align: center;
      border-radius: 0px 0px 19.5px 19.5px;
  }

  

  #spade{
    font-size: 60px;
    margin: auto;
  }
  
 
  
  .small-spade {
    position: absolute;
    font-size: 22px;
  }
  
  .left {
    left:12px;
    top: 50px;
  }
  
  .right {
    left: 175px;
    top: 240px;
  }
  
  #ace-left {
    position: absolute;
    font-size: 30px;
    top: 18px;
    left: 12px;
  }
  
  #ace-right {
    position: absolute;
    font-size: 30px;
    top: 260px;
    left: 175px;;
  }
  