
body {
    margin: 0 auto;
    text-align:center;

  }
  
  #QCard {
    position: relative;
    height:300px;
    width: 200px;
    background-color: rgb(38, 39, 55);
    color:whitesmoke;
    margin: 0 auto;
    border-radius: 8%;
    border: 2px solid black;

  }
  
  .interior {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-size: 15px;
      border-radius: 25px 25px 19.5px 19.5px;
  }

  .interiorTitle{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      font-size: 5px;
      border-radius: 21px 21px 0px 0px;
      padding: 15px;
  }

  .answerContainer {
      margin-top: 5%;
      text-align: center;
      border-radius: 0px 0px 19.5px 19.5px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }

  

  .btn {
    background-color: #EA4C89;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
  }
  
  .AnswerBtn {
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(252, 252, 252);
    width:auto;
    height: auto;
  }

  .AnswerBtn:hover {
    background-color: rgb(14, 255, 1);
    cursor: pointer;
  }

  .Score {
    background-color: #7c6f8a;
    font-weight: bold;
    color:#FFFFFF;
    padding-top: 1px;
  }

  .CardContainer {
    background-color: #7c6f8a;
  }

  .AnswerText {
    font-size: 20px;
    color:#ae81d5;
    font-weight: bold;

  }

  .AnimalName {
    font-size: 25px;
  }